Redirect permanent /projects/calendar/sunbird.html http://www.mozilla-japan.org/projects/calendar/sunbird/index.html
Redirect permanent /projects/calendar/sunbird_build.html http://www.mozilla-japan.org/projects/calendar/sunbird/build.html
Redirect permanent /projects/calendar/sunbird_screenshot.html http://www.mozilla-japan.org/projects/calendar/sunbird/screenshot.html
Redirect permanent /projects/calendar/sunbird_download.html http://www.mozilla-japan.org/projects/calendar/sunbird/download.html
Redirect permanent /projects/calendar/sunbird_download_old.html http://www.mozilla-japan.org/projects/calendar/sunbird/download_old.html
Redirect permanent /projects/calendar/sunbird_l10n_download.html http://www.mozilla-japan.org/projects/calendar/sunbird/l10n_download.html
Redirect permanent /projects/calendar/lightning.html http://www.mozilla-japan.org/projects/calendar/lightning/index.html
Redirect permanent /projects/calendar/download.html http://www.mozilla-japan.org/projects/calendar/calext/download.html
Redirect permanent /projects/calendar/installation.html http://www.mozilla-japan.org/projects/calendar/calext/installation.html
Redirect permanent /projects/calendar/screenshot.html http://www.mozilla-japan.org/projects/calendar/calext/screenshot.html
Redirect permanent /projects/calendar/skins.html http://www.mozilla-japan.org/projects/calendar/calext/skins.html
Redirect permanent /projects/calendar/dev_guide.html http://wiki.mozilla.org/Calendar:Dev_Guide