Options +FollowSymLinks +MultiViews -Indexes
RewriteEngine on

RewriteBase /kb/
RewriteRule ^solution/2004       http://mozilla.jp/support/firefox/start/windows [R=permanent,L]
RewriteRule ^solution/2005       http://mozilla.jp/support/firefox/kb/002503 [R=permanent,L]
RewriteRule ^solution/2006       http://mozilla.jp/support/firefox/kb/002504 [R=permanent,L]
RewriteRule ^solution/2007       http://mozilla.jp/support/firefox/kb/002505 [R=permanent,L]
RewriteRule ^solution/2008       http://mozilla.jp/support/firefox/kb/002506 [R=permanent,L]
RewriteRule ^solution/2009       http://mozilla.jp/support/firefox/kb/002507 [R=permanent,L]
RewriteRule ^solution/2010       http://mozilla.jp/support/firefox/kb/002508 [R=permanent,L]
RewriteRule ^solution/2012       http://mozilla.jp/support/firefox/kb/002509 [R=permanent,L]
RewriteRule ^solution/2013       http://mozilla.jp/support/firefox/kb/002510 [R=permanent,L]
RewriteRule ^solution/2014       http://mozilla.jp/support/firefox/tutorials/search [R=permanent,L]
RewriteRule ^solution/2015       http://mozilla.jp/support/firefox/tutorials/tabs [R=permanent,L]
RewriteRule ^solution/2016       http://mozilla.jp/support/firefox/kb/002513 [R=permanent,L]
RewriteRule ^solution/2017       http://mozilla.jp/support/firefox/kb/002514 [R=permanent,L]
RewriteRule ^solution/2018       http://mozilla.jp/support/firefox/kb/002515 [R=permanent,L]
RewriteRule ^solution/2019       http://mozilla.jp/support/firefox/kb/002516 [R=permanent,L]
RewriteRule ^solution/2020       http://mozilla.jp/support/firefox/kb/002517 [R=permanent,L]
RewriteRule ^solution/2021       http://mozilla.jp/support/firefox/kb/002518 [R=permanent,L]
RewriteRule ^solution/2022       http://mozilla.jp/support/firefox/kb/002519 [R=permanent,L]
RewriteRule ^solution/2023       http://mozilla.jp/support/firefox/kb/002520 [R=permanent,L]
RewriteRule ^solution/2024       http://mozilla.jp/support/firefox/kb/002521 [R=permanent,L]
RewriteRule ^solution/2025       http://mozilla.jp/support/firefox/kb/002522 [R=permanent,L]
RewriteRule ^solution/2026       http://mozilla.jp/support/firefox/kb/002523 [R=permanent,L]
RewriteRule ^solution/2027       http://mozilla.jp/support/firefox/kb/002524 [R=permanent,L]
RewriteRule ^solution/2028       http://mozilla.jp/support/firefox/kb/002525 [R=permanent,L]
RewriteRule ^solution/2029       http://mozilla.jp/support/firefox/kb/002526 [R=permanent,L]
RewriteRule ^solution/2030       http://mozilla.jp/support/firefox/kb/002527 [R=permanent,L]
RewriteRule ^solution/2031       http://mozilla.jp/support/firefox/kb/002528 [R=permanent,L]
RewriteRule ^solution/2032       http://mozilla.jp/support/firefox/kb/002529 [R=permanent,L]
RewriteRule ^solution/2035       http://mozilla.jp/support/firefox/kb/002530 [R=permanent,L]
RewriteRule ^solution/2036       http://mozilla.jp/support/firefox/kb/002531 [R=permanent,L]
RewriteRule ^solution/2037       http://mozilla.jp/support/firefox/kb/002532 [R=permanent,L]
RewriteRule ^solution/2038       http://mozilla.jp/support/firefox/kb/002533 [R=permanent,L]
RewriteRule ^solution/2039       http://mozilla.jp/support/firefox/kb/002534 [R=permanent,L]
RewriteRule ^solution/2040       http://mozilla.jp/support/firefox/kb/002535 [R=permanent,L]
RewriteRule ^solution/2041       http://mozilla.jp/support/firefox/kb/002536 [R=permanent,L]
RewriteRule ^solution/2042       http://mozilla.jp/support/firefox/kb/002537 [R=permanent,L]
RewriteRule ^solution/2044       http://mozilla.jp/support/firefox/kb/002538 [R=permanent,L]
RewriteRule ^solution/2045       http://mozilla.jp/support/firefox/kb/002539 [R=permanent,L]
RewriteRule ^solution/2046       http://mozilla.jp/support/firefox/kb/002540 [R=permanent,L]
RewriteRule ^solution/2047       http://mozilla.jp/support/firefox/kb/002541 [R=permanent,L]
RewriteRule ^solution/2048       http://mozilla.jp/support/firefox/kb/002542 [R=permanent,L]
RewriteRule ^solution/2049       http://mozilla.jp/support/firefox/kb/002543 [R=permanent,L]
RewriteRule ^solution/2050       http://mozilla.jp/support/firefox/kb/002544 [R=permanent,L]
RewriteRule ^solution/2051       http://mozilla.jp/support/firefox/kb/002545 [R=permanent,L]
RewriteRule ^solution/2052       http://mozilla.jp/support/firefox/kb/002546 [R=permanent,L]
RewriteRule ^solution/2055       http://mozilla.jp/support/firefox/kb/002547 [R=permanent,L]
RewriteRule ^solution/2056       http://mozilla.jp/support/firefox/kb/002548 [R=permanent,L]
RewriteRule ^solution/2057       http://mozilla.jp/support/firefox/kb/002549 [R=permanent,L]
RewriteRule ^solution/2058       http://mozilla.jp/support/firefox/kb/002550 [R=permanent,L]
RewriteRule ^solution/2059       http://mozilla.jp/support/firefox/kb/002551 [R=permanent,L]
RewriteRule ^solution/2060       http://mozilla.jp/support/firefox/kb/002552 [R=permanent,L]
RewriteRule ^solution/2061       http://mozilla.jp/support/firefox/kb/002553 [R=permanent,L]
RewriteRule ^solution/2062       http://mozilla.jp/support/firefox/kb/002554 [R=permanent,L]
RewriteRule ^solution/2063       http://mozilla.jp/support/firefox/kb/002555 [R=permanent,L]
RewriteRule ^solution/2064       http://mozilla.jp/support/firefox/kb/002556 [R=permanent,L]
RewriteRule ^solution/2065       http://mozilla.jp/support/firefox/kb/002557 [R=permanent,L]
RewriteRule ^solution/2066       http://mozilla.jp/support/firefox/kb/002558 [R=permanent,L]
RewriteRule ^solution/2067       http://mozilla.jp/support/firefox/kb/002559 [R=permanent,L]
RewriteRule ^solution/2068       http://mozilla.jp/support/firefox/kb/002560 [R=permanent,L]
RewriteRule ^solution/2069       http://mozilla.jp/support/firefox/kb/002561 [R=permanent,L]
RewriteRule ^solution/2070       http://mozilla.jp/support/firefox/kb/002562 [R=permanent,L]
RewriteRule ^solution/2071       http://mozilla.jp/support/firefox/kb/002563 [R=permanent,L]
RewriteRule ^solution/2075       http://mozilla.jp/support/firefox/kb/002564 [R=permanent,L]
RewriteRule ^solution/2078       http://mozilla.jp/support/firefox/kb/002565 [R=permanent,L]
RewriteRule ^solution/2079       http://mozilla.jp/support/firefox/kb/002566 [R=permanent,L]
RewriteRule ^solution/2080       http://mozilla.jp/support/firefox/kb/002567 [R=permanent,L]
RewriteRule ^solution/2081       http://mozilla.jp/support/firefox/kb/002568 [R=permanent,L]
RewriteRule ^solution/2082       http://mozilla.jp/support/firefox/kb/002569 [R=permanent,L]
RewriteRule ^solution/2083       http://mozilla.jp/support/firefox/kb/002570 [R=permanent,L]
RewriteRule ^solution/2085       http://mozilla.jp/support/firefox/kb/002571 [R=permanent,L]
RewriteRule ^solution/2086       http://mozilla.jp/support/firefox/kb/002572 [R=permanent,L]
RewriteRule ^solution/2087       http://mozilla.jp/support/firefox/kb/002573 [R=permanent,L]
RewriteRule ^solution/2090       http://mozilla.jp/support/firefox/kb/002574 [R=permanent,L]
RewriteRule ^solution/2091       http://mozilla.jp/support/firefox/kb/002575 [R=permanent,L]
RewriteRule ^solution/2093       http://mozilla.jp/support/firefox/kb/002577 [R=permanent,L]
RewriteRule ^solution/2094       http://mozilla.jp/support/firefox/kb/002578 [R=permanent,L]
RewriteRule ^solution/2097       http://mozilla.jp/support/firefox/kb/002579 [R=permanent,L]
RewriteRule ^solution/3001       http://mozilla.jp/support/thunderbird/start/windows [R=permanent,L]
RewriteRule ^solution/3002       http://mozilla.jp/support/thunderbird/kb/002597 [R=permanent,L]
RewriteRule ^solution/3003       http://mozilla.jp/support/thunderbird/kb/002598 [R=permanent,L]
RewriteRule ^solution/3004       http://mozilla.jp/support/thunderbird/kb/002599 [R=permanent,L]
RewriteRule ^solution/3005       http://mozilla.jp/support/thunderbird/kb/002600 [R=permanent,L]
RewriteRule ^solution/3006       http://mozilla.jp/support/thunderbird/kb/002601 [R=permanent,L]
RewriteRule ^solution/3007       http://mozilla.jp/support/thunderbird/kb/002602 [R=permanent,L]
RewriteRule ^solution/3008       http://mozilla.jp/support/thunderbird/kb/002603 [R=permanent,L]
RewriteRule ^solution/3009       http://mozilla.jp/support/thunderbird/kb/002604 [R=permanent,L]
RewriteRule ^solution/3010       http://mozilla.jp/support/thunderbird/kb/002605 [R=permanent,L]
RewriteRule ^solution/3011       http://mozilla.jp/support/thunderbird/kb/002606 [R=permanent,L]
RewriteRule ^solution/3012       http://mozilla.jp/support/thunderbird/kb/002607 [R=permanent,L]
RewriteRule ^solution/3013       http://mozilla.jp/support/thunderbird/kb/002608 [R=permanent,L]
RewriteRule ^solution/3014       http://mozilla.jp/support/thunderbird/kb/002609 [R=permanent,L]
RewriteRule ^solution/3015       http://mozilla.jp/support/thunderbird/kb/002610 [R=permanent,L]
RewriteRule ^solution/3016       http://mozilla.jp/support/thunderbird/kb/002611 [R=permanent,L]
RewriteRule ^solution/3017       http://mozilla.jp/support/thunderbird/kb/002612 [R=permanent,L]
RewriteRule ^solution/3019       http://mozilla.jp/support/thunderbird/kb/002613 [R=permanent,L]
RewriteRule ^solution/3020       http://mozilla.jp/support/thunderbird/kb/002614 [R=permanent,L]
RewriteRule ^solution/3021       http://mozilla.jp/support/thunderbird/kb/002615 [R=permanent,L]
RewriteRule ^solution/3022       http://mozilla.jp/support/thunderbird/kb/002616 [R=permanent,L]
RewriteRule ^solution/3023       http://mozilla.jp/support/thunderbird/kb/002617 [R=permanent,L]
RewriteRule ^solution/3024       http://mozilla.jp/support/thunderbird/kb/002618 [R=permanent,L]
RewriteRule ^solution/3025       http://mozilla.jp/support/thunderbird/kb/002619 [R=permanent,L]
RewriteRule ^solution/3026       http://mozilla.jp/support/thunderbird/kb/002620 [R=permanent,L]
RewriteRule ^solution/3027       http://mozilla.jp/support/thunderbird/kb/002621 [R=permanent,L]
RewriteRule ^solution/3028       http://mozilla.jp/support/thunderbird/kb/002622 [R=permanent,L]
RewriteRule ^solution/3029       http://mozilla.jp/support/thunderbird/kb/002623 [R=permanent,L]
RewriteRule ^solution/3030       http://mozilla.jp/support/thunderbird/kb/002624 [R=permanent,L]
RewriteRule ^solution/3031       http://mozilla.jp/support/thunderbird/kb/002625 [R=permanent,L]
RewriteRule ^solution/3032       http://mozilla.jp/support/thunderbird/kb/002626 [R=permanent,L]
RewriteRule ^solution/3033       http://mozilla.jp/support/thunderbird/kb/002627 [R=permanent,L]
RewriteRule ^solution/3034       http://mozilla.jp/support/thunderbird/kb/002628 [R=permanent,L]
RewriteRule ^solution/3035       http://mozilla.jp/support/thunderbird/kb/002629 [R=permanent,L]
RewriteRule ^solution/3036       http://mozilla.jp/support/thunderbird/kb/002630 [R=permanent,L]
RewriteRule ^solution/3037       http://mozilla.jp/support/thunderbird/kb/002631 [R=permanent,L]
RewriteRule ^solution/3038       http://mozilla.jp/support/thunderbird/kb/002632 [R=permanent,L]
RewriteRule ^solution/3039       http://mozilla.jp/support/thunderbird/kb/002633 [R=permanent,L]
RewriteRule ^solution/3040       http://mozilla.jp/support/thunderbird/kb/002634 [R=permanent,L]
RewriteRule ^solution/3041       http://mozilla.jp/support/thunderbird/kb/002635 [R=permanent,L]
RewriteRule ^solution/3043       http://mozilla.jp/support/thunderbird/kb/002636 [R=permanent,L]
RewriteRule ^solution/3044       http://mozilla.jp/support/thunderbird/kb/002637 [R=permanent,L]
RewriteRule ^solution/3046       http://mozilla.jp/support/thunderbird/kb/002638 [R=permanent,L]
RewriteRule ^solution/3049       http://mozilla.jp/support/thunderbird/kb/002639 [R=permanent,L]
RewriteRule ^solution/3050       http://mozilla.jp/support/thunderbird/kb/002640 [R=permanent,L]
RewriteRule ^solution/3052       http://mozilla.jp/support/thunderbird/kb/002641 [R=permanent,L]
RewriteRule ^solution/3054       http://mozilla.jp/support/thunderbird/kb/002642 [R=permanent,L]
RewriteRule ^solution/3057       http://mozilla.jp/support/thunderbird/kb/002643 [R=permanent,L]
RewriteRule ^solution/3058       http://mozilla.jp/support/thunderbird/kb/002644 [R=permanent,L]
RewriteRule ^solution/3059       http://mozilla.jp/support/thunderbird/kb/002645 [R=permanent,L]
RewriteRule ^solution/3060       http://mozilla.jp/support/thunderbird/kb/002646 [R=permanent,L]
RewriteRule ^solution/3061       http://mozilla.jp/support/thunderbird/kb/002647 [R=permanent,L]
RewriteRule ^solution/3062       http://mozilla.jp/support/thunderbird/kb/002648 [R=permanent,L]
RewriteRule ^solution/3068       http://mozilla.jp/support/thunderbird/kb/002649 [R=permanent,L]
RewriteRule ^solution/3070       http://mozilla.jp/support/thunderbird/kb/002650 [R=permanent,L]
RewriteRule ^firefox             http://mozilla.jp/support/firefox/kb/ [R=permanent,L]
RewriteRule ^thunderbird         http://mozilla.jp/support/thunderbird/kb/ [R=permanent,L]
RewriteRule ^webdev              http://mozilla.jp/support/firefox/kb/002565 [R=permanent,L]
RewriteRule (.*)                 http://mozilla.jp/support/firefox/kb/ [R=permanent,L]
