<!DOCTYPE html public "-//w3c//dtd html 4.0 transitional//en">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
<meta http-equiv="imagetoolbar" content="no" />
<meta name="robots" content="noodp,noydir" />
<link rel="home" href="http://mozilla.jp/" title="Home" />
<link rel="alternate" type="application/rss+xml" title="Mozilla Japan ブログ (RSS)" href="http://mozilla.jp/blog/feed/" />
<link rel="alternate" type="application/rss+xml" title="Mozilla Japan プレスリリース (RSS)" href="http://mozilla.jp/press/feed/" />
<link rel="alternate" type="application/rss+xml" title="Mozilla Foundation 最新情報 (RSS)" href="/news.rdf">
<link rel="stylesheet" type="text/css" href="/css/print.css"  media="print">
<link rel="stylesheet" type="text/css" href="/css/base/content.css"  media="all">
<link rel="stylesheet" type="text/css" href="/css/cavendish/content.css" title="Cavendish" media="all">
<link rel="stylesheet" type="text/css" href="/css/base/template.css"  media="screen">
<link rel="stylesheet" type="text/css" href="/css/cavendish/template.css" title="Cavendish" media="screen">
<link rel="icon" href="/images/mozilla-16.png" type="image/png">


   <title>JavaScript セキュリティ: 用語集</title>
   <link rel="alternate" hreflang="en" modified="Jnuary 28,  2001">

</head>

<body id="www-mozilla-japan-org" class="deepLevel">
<div id="container">
<p class="important">現在、当サイト「mozilla.org 日本語版」の和訳文書は更新されておらず、<a href="http://www.mozilla.org/projects/security/components/terms.html">mozilla.org の原文</a> よりも内容が古くなっている可能性があります。ご不便をお掛けしますが、最新の情報は原文をご確認ください。</p>

<p class="skipLink"><a href="#mainContent" accesskey="2">メインコンテンツへスキップ</a></p>
<div id="header">
<h1><a href="http://mozilla.jp/" title="Mozilla Japan ホームページへ戻る" accesskey="1">Mozilla Japan</a></h1>
<ul>
<li id="menu_aboutus"><a href="http://mozilla.jp/about/" title="Mozilla Japan について">組織概要</a></li>
<li id="menu_developers"><a href="/developer/index.html" title="Mozilla 製品をあなたのアプリケーションにも">開発情報</a></li>
<li id="menu_support"><a href="http://mozilla.jp/support/" title="個人および法人向けのサービス・サポート">サポート</a></li>
<li id="menu_products"><a href="http://mozilla.jp/products/" title="Mozilla 製品概要">製品情報</a></li>
</ul>
<form action="http://www.google.com/cse">
  <div id="lang_form">
    <input type="hidden" name="cx" value="004119830362093040131:jpn2pz-pybe" />
    <input type="hidden" name="cof" value="FORID:0" />
    <input type="hidden" name="ie" value="EUC-JP" />
    <input type="hidden" name="oe" value="UTF-8" />
    <label>サイト内検索: <input type="text" name="q" size="30" /></label>
    <input type="submit" name="sa" value="検索" />
  </div>
</form>

</div>

<hr class="hide">
<div id="mBody">
<div id="side">

<ul id="nav">
<li><a title="ロードマップ"  href="../../../roadmap.html"><strong>ロードマップ</strong></a></li>
<li><a title="プロジェクト"  href="../../../projects/"><strong>プロジェクト</strong></a></li>
<li><a title="開発者向け"  href="../../../developer/index.html"><strong>コーディング</strong></a>
<ul>
<li><a title="モジュールオーナー"  href="../../../owners.html">モジュールオーナー</a></li>
<li><a title="ハック"  href="../../../hacking/">ハック</a></li>
<li><a title="ソースの入手"  href="http://developer.mozilla.org/ja/Download_Mozilla_Source_Code">ソースの入手</a></li>
<li><a title="Mozilla のビルド"  href="http://developer.mozilla.org/ja/Build_Documentation">ビルド</a></li>
</ul>
</li>
<li><a title="テスト"  href="http://quality.mozilla.org/"><strong>テスト</strong></a>
<ul>
<li><a title="リリース"  href="../../../download.html">リリース</a></li>
<li><a title="テスター向け最新ビルド"  href="../../../developer/index.html">ナイトリービルド</a></li>
<li><a title="テスター向けバグ報告窓口"  href="https://bugzilla.mozilla.org/">問題の報告</a></li>
</ul>
</li>
<li><a title="Mozilla 開発者向けツール"  href="http://developer.mozilla.org/ja/Mozilla_Development_Tools"><strong>ツール</strong></a>
<ul>
<li><a title="テスター向けバグ追跡システム"  href="https://bugzilla.mozilla.org/">Bugzilla</a></li>
<li><a title="Mozilla ビルドの最新状況"  href="http://tinderbox.mozilla.org/showbuilds.cgi?tree=Firefox">Tinderbox</a></li>
<li><a title="最新のチェックイン"  href="http://bonsai.mozilla.org/cvsqueryform.cgi">Bonsai</a></li>
<li><a title="ソースコードクロスリファレンス"  href="http://mxr.mozilla.org/">MXR</a></li>
</ul>
</li>
<li><a title="よくある質問"  href="../../../faq.html"><strong>FAQ</strong></a></li></ul>

<ul id="nav">
<li><a title="Mozilla Developer Center 日本語版：最新開発情報用 wiki"  href="http://developer.mozilla.org/ja/"><strong>MDC 日本語版</strong></a></li></ul>

</div>
<hr class="hide">
<div id="mainContent">



<h2>JavaScript セキュリティの重要用語集</h2>
<UL>
<li><a href="terms.html#cert">証明書 (Certificate)</a></li>
<li><a href="terms.html#sig">署名 (Signature)</a></li>
<li><a href="terms.html#jar">JAR ファイル (JAR files)</a></li>
<li><a href="terms.html#priv">特権 (Privilege)</a></li>
<li><a href="terms.html#ca">認証局 (Certificate Authority)</a></li>
</UL>
<hr>
<DL>

<DT><a name="cert"><p><b>証明書 (Certificate)</b></DT>
<DD>証明書 (certificate) は一組の鍵のうちの公開鍵で、鍵の所有者を識別する情報と組み合わされていて、
<a href="terms.html#ca">認証局 (certificate authority)</a>
の非公開鍵によって署名されている。認証局の署名は、証明書の公開鍵が所有情報に合致する事を保障する。
証明書はオンラインの ID カードに相当するものだ:
これはファイルに<a href="terms.html#sig">署名</a>したり、署名付きファイルの出所を
証明するのに使える。

</DD>
<p>
<DT><a name="sig"><p><b>署名 (Signature)</b></DT>
<DD>証明書を使って、開発者はウェブページとそれに関連したコードに署名できる。Netscape の
<a href="http://web.archive.org/web/20041111155627/developer.netscape.com/docs/manuals/cms/41/adm_gide/app_sign.htm">SignTool</a> のような署名プログラムは、
まず署名すべきファイルを圧縮する。このプログラムは、
ユーザーに一意の署名と署名付きファイルを生成するためにユーザーの証明書を使う。この署名は、
<a href="terms.html#jar">JAR ファイル</a>の中のファイルに含まれている。JAR ファイルの中身が署名後に変更されていたら、
ユーザーのブラウザにはそれが分かり、署名は無効となる。
</DD>
<p>
<DT><a name="jar"><p><b>JAR ファイル</b></DT>
<DD><tt><b>JAR</b></tt> (<b>J</b>ava <b>Ar</b>chive から) はデジタル署名、セキュリティ情報、
あるいはファイルやファイル群付属の他のメタデータと関連付けるためのフォーマットだ。これは有名な　<tt>zip</tt>
ファイルフォーマットを基にしている。<tt>application/java-archive</tt> という MIME-type は jar ファイルと関連付けられている。

Mozilla では、<tt>JAR</tt> ファイルは次のような <tt>URL</tt> 形式でアクセスされる:<p>
<dd><tt>jar:http://www.mozilla.org/projects/security/components/capsapp.jar!/getprefs.html</tt><p>
<tt>capsapp.jar</tt> のところはアーカイブファイルで、<tt>getprefs.html</tt> は capsapp.jar の中の
必要なファイルである。</dd>

 
</DD>
<p>
<DT><a name="priv"><p><b>特権 (Privilege)</b></DT>
<DD>特権 (「機能」 ("capability") と呼ばれることもある) は、ユーザーのコンピュータへアクセスするという
拡張レベルをスクリプトに提供する特別な識別子である。拡張特権を持ったスクリプトがユーザーのコンピュータに与える、
(悪意のあるまたは偶然の) 潜在的な損害があるので、Mozilla は、拡張特権を求めるスクリプトが
正当な証明書で署名されている事を要求する。署名はスクリプトに起因するエンティティを識別し、
署名後にスクリプトになされたあらゆる変更の証拠を示す。
</DD>
<p>
<DT><a name="ca"><p><b>認証局 (Certificate Authority)</b></DT>
<DD>認証局 (CA) は、<a href="terms.html#cert">証明書</a>を作り署名する団体である。
料金は通常用途によって変る。よく電子メールに使われる個人証明書は $19.95/年 ぐらいと低く、
一方開発者証明書は $695/年 あるいはそれ以上に高い。他のサイトは
ユーザーが無料で証明書を登録するのを許可している。CA は電子メールやスクリプトに署名するためだけでなく、
SSL サーバーや法律関係の文書のためにも証明書を提供している。

<p>CA をいくつか (
<a href="http://dmoz.org/Computers/Security/Public_Key_Infrastructure/PKIX/Tools_and_Services/Third_Party_Certificate_Authorities/">
dmoz.org</a> から):</p>
<a href="http://www.belsign.com">BelSign</a> (<b>P</b>)<br>
<a href="http://www.alphatrust.com">AlphaTrust.com</a> (<b>F</b>)<br>
<a href="http://www.digsigtrust.com">Digital Signature Trust Co</a> (<b>P</b>)<br>
<a href="http://www.entrust.net">Entrust.net</a> (<b>P</b>)<br>
<a href="http://www.equifaxsecure.com">Equifax Secure</a> (<b>P</b>)<br>
<a href="http://www.globalsign.net">GlobalSign</a> (<b>P</b>)<br>
<a href="http://www.interclear.net">Inter Clear</a> (<b>P</b>)<br>
<a href="http://www.caserver.com">Texstar Technologies Inc.</a> (<b>P</b>)<br>
<a href="http://www.thawte.com">Thawte Digital Certificate Services</a> (<b>F</b>)<br>
<a href="http://www.usertrust.com">The USERTRUST Network</a> (<b>P</b>)<br>
<a href="http://www.versign.com">VeriSign</a> (<b>P</b>)</p>

<p><b>P</b> - 証明書が有料のサイト。<b>F</b> - 無料の証明書が利用できるサイト (通常個人使用のみ) 。
</DD>
</DL>




<hr class="hide">
</div>
</div>
<div id="footer">
<ul>
<li><a href="http://mozilla.jp/">ホーム</a></li>
<li><a href="/security/">セキュリティ情報</a></li>
<li><a href="http://mozilla.jp/legal/privacy/">個人情報保護方針</a></li>
<li><a href="http://mozilla.jp/about/contact">お問い合わせ</a></li>
</ul>
<p class="copyright">&copy; 2004-2008 Mozilla Japan, Mozilla Foundation and Mozilla Corporation<br>Mozilla Japan は <a href="http://www.mozilla.org/">Mozilla Foundation</a> と <a href="http://www.mozilla.com/en-US/">Mozilla Corporation</a> の公式アフィリエイトです。</p>
<p><span><a href="http://www.mozilla.org/projects/security/components/terms.html">英語版</a> Jnuary 28   2001</span> - <span>和訳版 2004/10/06</span> - <span><a href="http://bonsai-www.mozilla.org/cvslog.cgi?file=mozilla-org/html/projects/security/components/terms.html">英語版更新履歴</a></span></p>
<p>この文書は翻訳で、原文は <a href="http://www.mozilla.org/">mozilla.org</a> において英語で管理・公開されています。<br>この翻訳文書は、利用者の利便のために <a href="/jp/td/">Mozilla Japan 翻訳部門</a> により提供されています。<br>翻訳文書についてのコメントは <a href="http://forums.firehacks.org/trans/viewforum.php?f=2">mozilla.org 日本語版について</a> までお寄せください。</p>
</div>

</div>
</body>
</html>
