Redirect permanent /projects/ui/accessibility/index.html                   http://www.mozilla-japan.org/access/
Redirect permanent /projects/ui/accessibility/access-today.html            http://www.mozilla-japan.org/access/today.html
Redirect permanent /projects/ui/accessibility/slides/moz_accslides.html    http://www.mozilla-japan.org/access/slideshow/
Redirect permanent /projects/ui/accessibility/slides                       http://www.mozilla-japan.org/access/slideshow.html
Redirect permanent /projects/ui/accessibility/moz_accslides_text_version.html http://www.mozilla-japan.org/access/slideshow/text.html
Redirect permanent /projects/ui/accessibility/index-users.html             http://www.mozilla-japan.org/access/users.html
Redirect permanent /projects/ui/accessibility/Accessibility_Features_in_Mozilla.html http://www.mozilla-japan.org/access/features.html
Redirect permanent /projects/ui/accessibility/index-procurement.html       http://www.mozilla-japan.org/access/evaluators.html
Redirect permanent /projects/ui/accessibility/index-authors.html           http://www.mozilla-japan.org/access/authors.html
Redirect permanent /projects/ui/accessibility/dynamic-accessibility.html   http://www.mozilla-japan.org/access/dynamic-content.html
Redirect permanent /projects/ui/accessibility/index-atvendors.html         http://www.mozilla-japan.org/access/at-vendors.html
Redirect permanent /projects/ui/accessibility/index-qa-ui.html             http://www.mozilla-japan.org/access/qa.html
Redirect permanent /projects/ui/accessibility/index-frontend-coders.html   http://www.mozilla-japan.org/access/ui-developers.html
Redirect permanent /projects/ui/accessibility/index-core-hackers.html      http://www.mozilla-japan.org/access/core-developers.html
Redirect permanent /projects/ui/accessibility/index-external-developers.html http://www.mozilla-japan.org/access/external-developers.html
Redirect permanent /projects/ui/accessibility/toolkit-checklist.html       http://www.mozilla-japan.org/access/toolkit-checklist.html
Redirect permanent /projects/ui/accessibility/msaa-server-impl.html        http://www.mozilla-japan.org/access/windows/msaa-server.html
Redirect permanent /projects/ui/accessibility/accessible-xul-authoring.html http://www.mozilla-japan.org/access/xul-guidelines.html
Redirect permanent /projects/ui/accessibility/window-eyes-status.html      http://www.mozilla-japan.org/access/windows/window-eyes.html
Redirect permanent /projects/ui/accessibility/typeaheadfind.html           http://www.mozilla-japan.org/access/type-ahead.html
Redirect permanent /projects/ui/accessibility/planning-ahead-for-accessibility.html http://www.mozilla-japan.org/access/planning.html
Redirect permanent /projects/ui/accessibility/zoomtext-status.html         http://www.mozilla-japan.org/access/windows/zoomtext.html
Redirect permanent /projects/ui/accessibility/keyboard-status.html         http://www.mozilla-japan.org/access/keyboard/testing.html
Redirect permanent /projects/ui/accessibility/vendors-win.html             http://www.mozilla-japan.org/access/windows/at-apis.html
Redirect permanent /projects/ui/accessibility/section508.html              http://www.mozilla-japan.org/access/section508.html
Redirect permanent /projects/ui/accessibility/w3c-uaag.html                http://www.mozilla-japan.org/access/w3c-uaag.html
Redirect permanent /projects/ui/accessibility/span-checkbox.html           http://www.mozilla-japan.org/access/samples/span-checkbox.html
Redirect permanent /projects/ui/accessibility/ISimpleDOMNode.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMNode.idl?raw=1
Redirect permanent /projects/ui/accessibility/ISimpleDOMText.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMText.idl?raw=1
Redirect permanent /projects/ui/accessibility/ISimpleDOMDocument.idl http://lxr.mozilla.org/seamonkey/source/accessible/public/msaa/ISimpleDOMDocument.idl?raw=1
Redirect permanent /projects/ui/accessibility/accesskey.html               http://www.mozilla-japan.org/access/keyboard/accesskey.html
Redirect permanent /projects/ui/accessibility/mozkeyintro.html             http://www.mozilla-japan.org/access/keyboard/
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible.html http://www.mozilla-japan.org/access/samples/js-nsIAccessible.html
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible.js  http://www.mozilla-japan.org/access/samples/js-nsIAccessible.js
Redirect permanent /projects/ui/accessibility/mozkeyplan.html              http://www.mozilla-japan.org/access/keyboard/interactive.html
Redirect permanent /projects/ui/accessibility/mozkeylist.html              http://www.mozilla-japan.org/access/keyboard/mozilla.html
Redirect permanent /projects/ui/accessibility/mozkeyboard.html             http://www.mozilla-japan.org/access/keyboard/layout.html
Redirect permanent /projects/ui/accessibility/Javascript-nsIAccessible-notes.html http://www.mozilla-japan.org/access/samples/js-nsIAccessible-notes.html
Redirect permanent /projects/ui/accessibility/accessible-architecture.html http://www.mozilla-japan.org/access/architecture.html
Redirect permanent /projects/ui/accessibility/accessible-events.html       http://www.mozilla-japan.org/access/event-flow.html
Redirect permanent /projects/ui/accessibility/cross-ref-apis.html          http://www.mozilla-japan.org/access/platform-apis.html
Redirect permanent /projects/ui/accessibility/resources.html               http://www.mozilla-japan.org/access/resources.html
Redirect permanent /projects/ui/accessibility/access-mozilla.png           http://www.mozilla-japan.org/access/access-mozilla.png
Redirect permanent /projects/ui/accessibility/powerbraille.jpg             http://www.mozilla-japan.org/access/powerbraille.jpg
Redirect permanent /projects/ui/accessibility/vpduo2.jpg                   http://www.mozilla-japan.org/access/vpduo2.jpg
Redirect permanent /projects/ui/accessibility/qa/taf_acceptance.html       http://www.mozilla-japan.org/access/type-ahead/basic.html
Redirect permanent /projects/ui/accessibility/qa/taf_functional.html       http://www.mozilla-japan.org/access/type-ahead/full.html
Redirect permanent /projects/ui/accessibility/qa/taf_qa.html               http://www.mozilla-japan.org/access/type-ahead/testing.html
Redirect permanent /projects/ui/accessibility/tabindex.html                http://www.mozilla-japan.org/access/keyboard/tabindex.html
Redirect permanent /projects/ui/accessibility/embedaccess.html             http://www.mozilla-japan.org/access/prefs-and-apis.html
Redirect permanent /projects/ui/accessibility/accessible-hierarchy.html    http://www.mozilla-japan.org/projects/accessibility/images/accessible-hierarchy.jpg
Redirect gone /projects/ui/accessibility/header.html
